absl-py==1.0.0
anndata==0.7.8
asciitree==0.3.3
astunparse==1.6.3
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
cloudpickle==2.0.0
combat==0.3.2
csbdeep==0.6.3
cycler==0.11.0
dask==2022.2.1
dask-image==2021.12.0
diplib==3.2.0
docrep==0.3.2
fasteners==0.17.3
flatbuffers==2.0
fonttools==4.30.0
fsspec==2022.2.0
gast==0.5.3
geojson==2.5.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==2.10.0
idna==3.3
igraph==0.9.9
imageio==2.16.1
importlib-metadata==4.11.2
inflect==5.4.0
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
leidenalg==0.8.9
libclang==13.0.0
llvmlite==0.38.0
locket==0.2.1
Markdown==3.3.6
matplotlib==3.5.1
mpmath==1.2.1
natsort==8.1.0
networkx==2.7.1
numba==0.55.1
numcodecs==0.9.1
numexpr==2.8.1
numpy==1.21.0
oauthlib==3.2.0
omnipath==1.0.5
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
partd==1.2.0
patsy==0.5.1
Pillow==9.0.1
PIMS==0.5
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pynndescent==0.5.6
pyparsing==3.0.7
PySimpleGUI==4.57.0
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
qnorm==0.8.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scanpy==1.8.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sinfo==0.3.4
six==1.16.0
slicerator==1.0.0
squidpy==1.1.2
stardist==0.7.3
statsmodels==0.13.2
stdlib-list==0.8.0
tables==3.7.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
texttable==1.6.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.2.9
toolz==0.11.2
tqdm==4.63.0
typing-extensions==4.1.1
umap-learn==0.5.2
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.14.0
xarray==2022.3.0
xlrd==1.2.0
zarr==2.11.1
zipp==3.7.0
