combat==0.3.3
diplib==3.4.1
geojson==2.5.0
matplotlib==3.7.2
numpy==1.23.5
opencv-python==4.5.5.64
pandas==2.1.3
Pillow==10.1.0
protobuf==3.20.3
geobuf==1.1.1
psutil==5.9.7
PySimpleGUI==4.60.5
qnorm==0.8.1
scanpy==1.9.6
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.11.4
seaborn==0.11.2
squidpy==1.2.0
stardist==0.8.5
tensorflow==2.15.0
tifffile==2022.8.12
TissUUmaps==3.2.0.3
lxml==5.1.0
hilbertcurve==2.0.5